{
    font-family: san-serif;
}
.login{
    height : 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/background.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    margin:0;
    padding:0;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f3f3f3;
    border: none;
  }
  
  li {
    float: left;
    border-right:1px solid rgb(122, 93, 226);
    border: none;
  }
  
  li:last-child {
    border-right: none;
    border: none;
  }
  
  li a {
    display: block;
    color:  rgb(122, 93, 226);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: aliceblue;
    border: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    border: none;
  }
  
  .active {
    background-color: #040007;
    border: none;
  }

  .usern {
      margin-left: 550px;
      font-size: large;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/background.jpg");
  }
  
  .reff {
      background-color:  background-color: rgba(255, 255, 255, .15);  
      backdrop-filter: blur(5px);
      margin: 15px auto;
      font-family: Raleway;
      padding: 30px;
      width: 70%;
     min-width: 300px;
  }
  
  h1 {
    text-align: center;  
    
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: white;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  p {
    color: white;
  }
  
  button {
    background-color: rgb(224, 62, 62);
    color: #270303;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    font-family: Raleway;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 1.0;
  }
  
  #prevBtn {
    background-color:rgb(224, 62, 62);
    padding-right: 10px;
    margin-right: 20px;
  }
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #5a4949;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: rgb(219, 64, 25);
  }
  .summary{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  }